html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}
a {
	text-decoration: none;
}
#webchat {
	box-sizing: border-box;
	flex: 50%;
	float: right;
	height: 100%;
	width: 50%;
	padding: 2px 3px;
}
.side-container {
	flex: 50%;
	box-sizing: border-box;
	width: 40%;
	height: 100%;
	overflow: auto;
	padding-bottom: 2rem;
}
.reference {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 3rem;
	align-items: center;
	padding-left: 3rem;
	padding-top: 2rem;
}
.reference > img {
	width: 4vw;
	height: auto;
	padding-left: 2rem;
}

.side-container h1 {
	color: #266398;
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2.4vw;
	text-align: left;
	padding-left: 3rem;
	padding-top: 1rem;
}

.side-container p {
	color: #92a6b7;
	font-family: "Segoe UI", Tahoma;
	font-weight: 700;
	font-size: 1.2vw;
	width: 80%;
	text-align: left;
	padding-left: 3rem;
}

#sub-sub-heading {
	font-size: 1vw;
	font-weight: bold;
	color: #19609d;
	width: 80%;
}

.git-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #62686e;
	font-size: 0.8vw;
	transition: all 0.3s;
	font-weight: bold;
	align-items: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 5rem;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.git-link:hover {
	opacity: 50%;
}

.side-container > svg {
	display: block;
	width: 38vw;
	height: auto;
	margin-left: auto;
	padding-top: 3rem;
	margin-right: auto;
	text-align: center;
	position: relative;
	bottom: 0px;
}
.git-link img {
	width: 0.8vw;
	height: auto;
	margin-right: 1.2rem;
}

#webchat[watermark="true"] [role="complementary"] ul[role="list"]::after {
	content: "Powered By ...";
	background-color: rgb(234, 243, 251);
	bottom: 0;
	right: 0;
	color: #707070;
	display: block;
	font-family: "Segoe Semibold", Calibri, "Helvetica Neue", Arial, sans-serif;
	font-size: 1vw;
	position: absolute;
	position: sticky;
	text-align: right;
}

#webchat[watermark="true"] .webchat__scrollToEndButton {
	bottom: 32px;
	left: 50%;
	right: unset;
	transform: translate(-50%, 0);
}
#webchat
	> div
	> div
	> div.webchat__basic-transcript.webchat--css-ukirk-1tdc372.webchat--css-ukirk-1rr4qq7
	> div
	> ul {
	padding-left: 2rem;
}

#virus,
#virus_2,
#virus_3,
#virus_4 {
	animation: virus 15s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes virus {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	body {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.side-container,
	#webchat {
		width: 100vw;
	}
}

#webchat p {
	color: rgba(28, 30, 33, 0.65);
	font-size: 1vw;
	text-align: center;
}
#webchat .webchat__bubble__content {
	border-radius: 2rem;
	border-width: 0px;
}

#webchat .webchat--css-ftgap-xdnm15 {
}
